body{


  font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-seri;
  
  overflow: hidden;
  background-color:transparent;;
  padding: 0;

}
#text{
  position: absolute;
  text-align: center;
  left: 90px;
  top: 80px;
  color: rgb(203, 203, 169);

  width: 500px;
  height: 150px; 
}
#user{
  position: absolute;
  left: 3rem;
  top:  .2rem;
  color: rgb(41, 41, 41);
  text-align: center;
  width: 200px;
  height: 40px; 
}
#emotes{
  position: absolute;
 
  }
#buble{
    position: absolute;
   z-index: -1;
    }