body{


  font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-seri;
  background-color: rgb(45, 45, 45);
  padding: 0;

}
#app{
  position: absolute;
  left: 10px;
  top: 10px;
  width: 300px;
  height: 100%;
  background-color: seashell;
  display: flex; 
  flex-direction:column;
  overflow-y: scroll;
  border: 5px solid rgb(93, 176, 125);}
#player 
{
position: relative;
top: 20px;
border: 5px solid rgb(93, 176, 125);
}
#Youtube{
position: absolute;
right: 10rem;
} 
#buttons{
  position: relative;
  top: 10px;
  margin-top: 10px;

}
#text{
  position: absolute;
  left: 50%;
  top: -150px;
  color: rgb(0, 0, 0);
  text-shadow: #000 0px 0px 1px;
  width: 500px;
  height: 150px; 
}


    #b1{
      background-color:rgb(93, 176, 125);
      border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
    }

    #list{
            padding: 15px 32px;
            margin: 5;
      
    }
    #b2{
      background-color:rgb(93, 176, 125);
      border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
    }
    #b3{
      background-color:rgb(93, 176, 125);
      border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
    }

    #myRange{
      position: absolute;
    margin-top: 30px;
    margin-left: 20px;
    left: 20px;
    appearance: none;
  width: 130px; /* Full-width */
  height: 30px; /* Specified height */
  background: #6a6e9d;

    }

    #volume{
      position: absolute;
      margin-top: 30px;
      height: 30px; /* Specified height */

    }

